$colors: (
  red: #f04134,
  green: #00a854,
  blue: #108ee9,
  pink: #f5317f,
  orange: #f5317f,
  purple: #7265e6,
  yellow: #ffbf00,
  cyan: #00a2ae,
  teal: #20C997,
  grey:#bfbfbf,
  primary: #108ee9,
  success: #00a854,
  error: #f04134,
  warning: #ffbf00,
  white:#fff,
  white-1: #f5f7fa,
  white-2: rgba(238,238,238,0.98),

  grey-1:#404040,
  black: #000
);

/**
  根据颜色名字获取进制
 */

@function  get-color($key) {
  @return  map_get($colors, $key);
}

