<div class="xyz-header-logo">
  <a [routerLink]="['/']" class="xyz-logo-link">
    <strong>
       张贝后台模板
    </strong>
    <!--<img class="alain-default__header-logo-expanded" src="./assets/logo-full.svg" alt="{{settings.app.name}}" style="max-height:40px;" />-->
    <!--<img class="alain-default__header-logo-collapsed" src="./assets/logo.svg" alt="{{settings.app.name}}" style="max-height:30px;" />-->
  </a>
</div>
<div class="xyz-top-nav-wrap">
  <ul class="xyz-top-nav">
    <!-- Menu -->
    <li>
      <div class="item" >
        <i class="anticon anticon-menu-fold"></i>
      </div>
    </li>
    <li class="hidden-xs">
      <div class="item" [routerLink]="['/lock']">
        <i class="anticon anticon-lock"></i>
      </div>
    </li>
  </ul>

  <ul class="xyz-top-nav">
    <!-- Menu -->
    <!--<li>-->
      <!--<div class="item" >-->
        <!--<i class="anticon anticon-menu-unfold"></i>-->
      <!--</div>-->
    <!--</li>-->
    <!--<li class="hidden-xs">-->
      <!--<div class="item" [routerLink]="['/lock']">-->
        <!--<i class="anticon anticon-lock"></i>-->
      <!--</div>-->
    <!--</li>-->
  </ul>
</div>
