<nz-table nzBordered [nzShowPagination]="true" >
  <thead>
  <tr>
    <th nzWidth="25%">名称</th>
    <th nzWidth="15%">码值</th>
    <th nzWidth="20%">表名</th>
    <th nzWidth="20%">列名</th>
    <th nzWidth="20%">通用码</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td >{{data}}</td>
    <td>fjghjdfh</td>
    <td>fjghjdfh</td>
    <td>fjghjdfh</td>
    <td>fjghjdfh</td>
    <td>

          <!--<span *ngIf="">-->
                        <!--<button nz-button (click)="inlineTable.edit(index)" translate>edit</button>-->
                        <!--<span nz-table-divider></span>-->
                        <!--<nz-popconfirm (nzOnConfirm)="inlineTable.del(data.controls.languageId.value)"-->
                                       <!--nzTitle="{{'question_del' |translate}}">-->
                        <!--<button nz-button [nzType]="'danger'" nz-popconfirm translate>delete</button>-->
                        <!--</nz-popconfirm>-->
                        <!--</span>-->
      <!--<span *ngIf="inlineTable.editIndex===index">-->
                        <!--<button nz-button (click)="inlineTable.save(index)" [disabled]="data.invalid" type="button"-->
                                <!--translate>save</button>-->
                        <!--<span nz-table-divider></span>-->
                        <!--<nz-popconfirm (nzOnConfirm)="inlineTable.cancel(index)"-->
                                       <!--nzTitle="{{'question_can' |translate}}">-->
                        <!--<button nz-button nz-popconfirm translate>cancel</button>-->
                        <!--</nz-popconfirm>-->
                        <!--</span>-->
    </td>
  </tr>
  </tbody>
</nz-table>

