<!--
 * @Description: TODO 
 * @Author: zb
 * @Date: 2019-10-28 19:49:47
 * @LastEditors: zb
 * @LastEditTime: 2019-10-28 21:05:58
 -->

    <ul class="xyz-child-nav">
        <ng-container *ngFor="let menu of menus">
          <li class="xyz-nav-item xyz-nav-item-dept-{{level}}">
            <div class="xyz-nav-item-label"><a>{{menu.text}}</a></div>
            <xyz-sub-nav *ngIf="menu.children && menu.children.length > 0" [level]="level+1" [menus] ="menu.children"></xyz-sub-nav>
          </li>
        </ng-container>
    </ul>